@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
   
    font-family: 'Poppins', sans-serif;
  }
body{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.menu-container{
    width: 80%;
    height: 100%;
    padding: 25px 50px 25px 50px;
    background-color: white;
}
.menu-container h2{
   
   position: relative;
   padding-left: 30px;
   margin-top: 15px;
   margin-bottom: 25px;
   text-align: center;

}

.op-container{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    padding: 15px;
    width: 100%;

}
.card{
    min-width: 240px;
    height: 240px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
cursor: pointer;
    background-color: white;
    border-radius: 10px;
    transition:  border .3s, transform .5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover{
    border: 4px solid #61806c;
    transform: scale(1.1);

}
.card:hover label{
    color: #61806c;
}
.card i{
    font-size: 80px;
    text-align: center;
    
    background: linear-gradient(312deg,#dba85e,#ff592c);
    color: white;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 50%;
    padding: 5px;
}
.card label{
    text-align: center;
  
    
    color: #b7bcc8;
    font-weight: bold;
}
.user-menu{
    position: relative;
    width: 20%;

    height: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: flex-end;
    justify-content: center;
    background: url(https://images.pexels.com/photos/4483609/pexels-photo-4483609.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    
}
.user-menu::after{

    content: " ";
    
    position: absolute;
    height: 100%;
    z-index: 2;
    width: 100%;
    background: rgb(102 140 117 / 50%);
}
.info{
margin-bottom: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
    align-items: center;
}
.info img{
    width: 60%;
    margin-bottom: 15px;
    border-radius: 50%;
}
.info h2{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.info label{
    margin-top: 15px;
    cursor: pointer;
    color: #dba85e;
}